.display-4{
    color: black;
    text-align: center;
    background-color: blue;
}



  
  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    
    padding: 20px;
  }

body{
      
    }



label{
    
}

